$white-color:       #ffffff;
$black-color:       #434654;
$blue-color:        #4267b2;
$red-color:         #ed5152;
$green-color:       #77dd77;
$orange-color:      #ffb347;
$grey-color:        #979da6;
$light-grey-color:  #ced4da;
