.ui-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-color;
  color: $white-color;
  margin: 8px 0;
  padding: 10px;
  outline-color: $blue-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 125px;

  &:hover {
    opacity: .9;
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }

  .fa-circle-notch {
    position: absolute;
    right: 10px;
    top: 11px;
    color: $white-color;
  }
}
